@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
  
  .btn-primary {
    @apply bg-zinc-900 text-white px-6 py-2 rounded font-medium hover:bg-zinc-700 transition-colors duration-300;
    font-family: 'Oswald', sans-serif;
  }
  
  .btn-secondary {
    @apply border-2 border-orange-500 text-orange-500 px-6 py-2 rounded font-medium hover:bg-orange-500 hover:text-white transition-colors;
    font-family: 'Oswald', sans-serif;
  }

  .form-input {
    @apply w-full p-3 rounded bg-white font-normal;
    font-family: 'Oswald', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #bf52bd;
}

::-webkit-scrollbar-thumb:hover {
  background: #9d12a1;
}

@keyframes cubeMove {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) rotate(180deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-300px) rotate(360deg);
    opacity: 0;
  }
}

.animate-cube {
  animation: cubeMove 4s ease-in-out infinite;
}

.industry-gradient {
  background-image: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse-button {
  animation: pulse 1.0s infinite;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform-origin: top;
}